* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden; /* Impede rolagem horizontal */
}

:root {
    --background-1: #121212;
    --background-2: #2f2e2e;
    --text-color1: #ffffff;
    --text-color2: #f2f2f2;
    --details-color: #C99E67;
}



