.header_container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    z-index: 1; /* Agora o Swiper está abaixo da navbar */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    position: relative;
}

@media (max-width: 768px) {
    .header_container{
        height: 200px;
    }
}

@media (max-width: 480px) {
    .header_container{
        height: 200px;
    }
}