.text {
    align-items: center;
    text-align:center;
    font-size: 1rem;
    color: var(--text-color1);
    padding: 1rem 0rem 1rem 0;
    width: 100%;
    font-family: 'Roboto Serif', serif;
   
}

@media screen and (max-width: 768px) {
    .text {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    .text {
        font-size: 0.8rem;
    }
}